@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merriweather:ital,wght@0,300;1,300&display=swap');

body {
  margin: 0;
  color: #000000;
  background: url('https://i.pinimg.com/originals/f8/b0/d8/f8b0d8ba8a7fd9a480f88e9cd347ae6e.gif');
  background-color: #606060;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  transition: transform .4s;

}

h1:hover {
  transform: scale(2);
}

.newBody {
  text-align: center;
  font-family: 'Merriweather', serif;
}
