*{
  margin: 0;
}
.newPage {
  text-align: center;
  font-size: 20px;
  font-family: 'Merriweather, serif;
}

#catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  background-color: rgba(63, 191, 161, 0.25);
}

.info {
  font-weight: 900;
  font-style: italic;
}

#catalog:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.contents img {
  display: block;
  width: 200px;
  height: auto;
  transition: transform .4s;
}

.contents img:hover {
  transform: scale(1.2);
}

.contents img:visited {
  color: white;
}
