*{
  margin: 0;
}

#catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
  font-family: 'Merriweather', serif;
  /*background: rgba(102, 102, 153, 0.4);*/

}

.info {
  font-weight: 900;
  font-style: italic;


}

#catalog:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.contents img {
  display: block;
  width: 200px;
  height: auto;
}
