*{
  margin: 0;
}

.show {
  margin: 30px;
  font-family: 'Merriweather', serif;
  font-size: 28px;
  background-color: rgba(63, 191, 161, 0.25);
}

.show img {
  width: 400px;
  height: auto;
}

button {
  font-size: 28px;
  font-family: 'Merriweather', serif;
  transition: transform .4s;
}
button:hover {
  transform: scale(2);
}

input {
  font-size: 28px;
  font-family: 'Merriweather', serif;
  transition: transform .4s;
}

input:hover {
  transform: scale(2);
}
